body{
  background: url(https://cdn.pixabay.com/photo/2020/05/06/06/18/blue-5136251_960_720.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-box{
  border: 3px solid #fff;
  padding: 50px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-bottom: 50px;
}

.menu-container button{
  margin-right: 8px;
  margin-bottom: 5px;
}

.menu-container button:hover{
  background-color:aliceblue;
  color: rgb(13,110,253);
}

